.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  width: 300px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  outline: none;
}

.search-input::placeholder {
  color: #888;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #8f2253;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #8f2253;
}